@font-face{
    font-family: 'Poppins';
    src: url(../../fonts/poppins/Poppins-Regular.ttf);
}
body{
    font-family: 'Poppins';
}

.bg-login{
    background-color: #fff;
}
.card-container{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 66px 55px 33px 55px !important;
    box-shadow: 0 0 3px 3px #fff,
                6px 6px 8px 4px rgba(136,136,136,0.7),
                -6px -6px 8px 4px rgba(244,244,244,0.7);
}
.custom-form {
    display: block;
    width: 100%;
    margin-bottom: 38px !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    padding-right: 34px;
    font-size: 13px;
    padding-left: 0px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff0;
    background-clip: padding-box;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #999999;
    border-radius: 0rem;
}
.bienvenido{
    display: block;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    color: #5428a5;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 40px;
}
.buttoningresar{
    width: 100%;
    margin: 30px 0px;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 0 0 3px 3px #fff, 4px 4px 6px 2px rgba(136,136,136,0.7), -4px -4px 6px 2px rgba(244,244,244,0.7);
}
.alert-danger {
    position: relative;
    bottom: 20px;
    color: #b7202e;
    background-color: #f8d7da00;
    border-color: #f5c6cb00;
}
.fa-user:before {
    color: #666666;
}
.fa-lock:before {
    color: #666666;
}
.positionimg{
    right: 0;
    top: 0;
    position: absolute;
    height: 80vh;
}
.positionimg1{
    position: absolute;
    left: 0;
    height: 80vh;
    bottom: 0;
}

