:root {
  --background: #AB987A;
  --secondary:  #3a9ae9;
  --white: #FFFFFF;
  --black: #000;
}

a {
  color: rgba(255, 255, 255, 0.692) ;
  text-decoration: none !important;
}

a:hover {
  color: rgba(226, 226, 226, 0.849);
}


.full-height {
  height: 100vh !important;
}

.bg-sidebar {
  background: #354052;
}

.sidebar-link {
  padding: 0.7rem 1.5rem;
}

.sidebar-link:hover{
   background: #2d3646 !important;
}

.sidebar-size {
    min-width: 240px;
    max-width: 240px;
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
    border-right: 0;
}

.btn-primary {
  background-color: #354052;
  border: #354052;
}

.btn-primary:hover{
  background-color: #354052;
  border: #354052;
}

.btn-primary:focus{
  background-color: #354052 !important;
  border: #354052 !important;
}


.header-sidebar {
  font-weight: 600;
  font-size: 1.15rem;
  padding: 1.15rem 1.5rem;
  color: #EEF3F6;
  display: block;
  width: 100%;

}

.siderbar {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  z-index: 1;
}

.border-style {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.07);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.07);
  box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.07);
}

.custom-form:focus {
  outline: 0;
  border-bottom: 2px solid #354052;
  
}

.custom-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    padding-right: 34px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.icon-xs {
  font-size: 12px;
}

.icon-md {
  font-size: 22px;
}

.pr-icon {
  padding-right: 5px;
}

.pr-icon-sidebar {
  padding-right: 3px;
}

.pr-align-sidebar {
  padding-right: 4px;
}

.p-2-rem {
  padding-left: 3rem;
}

.modal-header{
  border-bottom: 0px;
}

.modal-footer{
  border-top: 0px;
  justify-content: center;
}

.form-text {
  position: absolute;
  top: 4.8rem;
}
 
.loader-position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.308);
  width: 100%;
}

.icon-position {
  position: relative;
}

.icon-position i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  padding-right: 1rem;
}

.siderbar {
background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
}

.cursor-pointer{
  cursor: pointer;
}

.border-top-none {
  border-top: 0px;
}

.sidebar-font-color {
 color: #60616b;
}

.sidebar-font-color:hover {
  color: rgb(19, 19, 19);
}

.navbar-light .navbar-toggler { 
   color: rgb(78, 115, 223);
   border: 0px;
 }

.button-search {
    position: absolute;
    right: 16px;
}

.text-white {
  color: rgba(255, 255, 255, 0.692) !important;
}

.title-dashboard {
   color: #525252;
   font-size: 1.6rem;
}

@media (max-width: 768px) { 

  .sidebar-size{
   margin-left: -240px !important;
  }
}

.hidden-sidebar{
  margin-left: -250px !important;
}

.text-labels{
font-size: 1rem;
color: #5a5a5a;;
}

.header-icon{
  font-size: 1.6rem;
  color: rgb(189 196 204);
  padding-left: 15px;
  padding-right: 1rem;
}


.spinner-container{
  position: fixed;
  width: 100vw;
  background: #ffffffb6;
  min-height: 100vh;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.lds-dual-ring {
  display: inline-block;
  width: 90px;
  height: 90px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 0px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(47 67 97) transparent rgb(47 67 97);
  animation: lds-dual-ring 0.5s linear infinite;
  text-align: center;
  position: fixed;
  top: 55%;
  right: 0;
  left: 56%;
  bottom: 0;
  
}

@media (max-width: 576px) { 
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 0px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(47 67 97) transparent rgb(47 67 97);
    animation: lds-dual-ring 0.5s linear infinite;
    text-align: center;
    position: fixed;
    top: 42%;
    right: 0;
    left: 40%;
    bottom: 0;
  }
 }



@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



