:root {
  --background: #AB987A;
  --secondary:  #3a9ae9;
  --white: #FFFFFF;
  --black: #000;
}

a {
  color: rgba(255, 255, 255, 0.692) ;
  text-decoration: none !important;
}

a:hover {
  color: rgba(226, 226, 226, 0.849);
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}
.full-height {
  height: 100vh !important;
}

.bg-sidebar {
  background: #354052;
}

.sidebar-link {
  padding: 0.7rem 1.5rem;
}

.sidebar-link:hover{
   background: #2d3646 !important;
}

.sidebar-size {
    min-width: 260px;
    max-width: 260px;
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out;
    border-right: 0;
}

.header-sidebar {
  font-weight: 600;
  font-size: 1.15rem;
  padding: 1.15rem 1.5rem;
  color: #EEF3F6;
  display: block;
  width: 100%;

}

.siderbar {
  height: 4.375rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .05rem;
  z-index: 1;
}

.border-style {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.07);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.07);
  box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.07);
}

.custom-form:focus {
  
  outline: 0;

}

.custom-form {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    padding-right: 34px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn-app {
  background-color: var(--secondary) !important;
  border-radius: 0.25rem;
}

.icon-xs {
  font-size: 12px;
}

.icon-md {
  font-size: 22px;
}

.pr-icon {
  padding-right: 5px;
}

.pr-icon-sidebar {
  padding-right: 3px;
}

.pr-align-sidebar {
  padding-right: 4px;
}

.p-2-rem {
  padding-left: 3rem;
}

.modal-header{
  border-bottom: 0px;
}

.modal-footer{
  border-top: 0px;
  justify-content: center;
}

.btn-width{
  width: 6rem !important;
}

.form-text {
  position: absolute;
  top: 4.8rem;
}
 
.loader-position {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.308);
  width: 100%;
}

.icon-position {
  position: relative;
}

.icon-position i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  padding-right: 1rem;
}

.siderbar {
background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
}

.cursor-pointer{
  cursor: pointer;
}

.sidebar-font-color {
 color: #60616b;
}

.sidebar-font-color:hover {
  color: rgb(19, 19, 19);
}

.navbar-light .navbar-toggler { 
   color: rgb(78, 115, 223);
   border: 0px;
 }

  .button-search {
    position: absolute;
    right: 16px;
}

.text-white {
  color: rgba(255, 255, 255, 0.692) !important;
}

.title-dashboard {
   color: #525252;
   font-size: 1.6rem;
}

@media (max-width: 768px) { 

  .hidden-sidebar{
   margin-left: -260px !important;
  }
}


.text-labels{
font-size: 1rem;
color: #5a5a5a;;
}

.header-icon{
  font-size: 1.6rem;
  color: rgb(189 196 204);
  padding-left: 15px;
  padding-right: 1rem;
}

.card-container {
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.875rem 0 rgba(80, 80, 80, 0.15);
}

.spinner-container{
  position: fixed;
  width: 100vw;
  background: #ffffff30;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.spinner {
  margin: 100px auto 0;
  width: 130px;
  text-align: center;
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  bottom: 0;
}

.spinner > div {
  width: 22px;
  height: 22px;
  background-color: #21334e;
  margin-left: 10px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
